  {{#each note}}
    <div class="todoitem">

      <div class="todocontainer" >
        <p class="duedate">{{due}}</p>
        <div>
          {{#if finished}}
          <input class="checkbox" id="checkbox" type="checkbox" checked>
          <label class="checkboxlabel" for="checkbox">Closed</label>
          {{else}}
          <input class="checkbox" id="checkbox" type="checkbox">
          <label class="checkboxlabel" for="checkbox">Open</label>
          {{/if}}
        </div>
      </div>

      <div class="todocontainer" >
        <p>{{title}}</p>
        <p>{{description}}</p>
      </div>

      <div class="flexright" >
        <div class="flexright">
          {{#each importance}}
          <div class="arrow"></div>
          {{/each}}
        </div>
        <div class="button edit" data-title="{{title}}">Edit</div>
      </div>

    </div>
  {{/each}}