{{#each note}}
    <div class="todoitem">
        <div class="todocontainer" >
            <p class="duedate">{{due}}</p>
            <div>
                {{#if finished}}
                    <input class="checkbox" name="checkbox" type="checkbox" checked>
                    <span class="checkboxlabel">Closed</span>
                {{else}}
                    <input class="checkbox" name="checkbox" type="checkbox">
                    <span class="checkboxlabel">Open</span>
                {{/if}}
            </div>
        </div>
        <div class="todocontainer" >
            <p>{{title}}</p>
            <p>{{description}}</p>
        </div>
        <div class="flexright" >
            <div class="flexright">
                {{#each importance}}
                    <div class="arrow"></div>
                {{/each}}
            </div>
            <div class="button edit" data-id="{{id}}">Edit</div>
        </div>
    </div>
{{/each}}